In [237]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

# Hydro consumtion in Exajoules

In [238]:
file_path ='../World_energy_consumption/Raw_data_files/Hydroelectrivity_consumtion_Exajoule.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7%,â¦,9.2%
2,Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1%,0.6%,0.8%
3,US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5%,-1.1%,6.0%
4,Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5%,-0.4%,16.0%

In [239]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [240]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7%,â¦,9.2%
2,Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1%,0.6%,0.8%
3,US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5%,-1.1%,6.0%
4,Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5%,-0.4%,16.0%

In [241]:
df=df.drop([0,0])

In [242]:
df.shape

(119, 62)

In [243]:
df.count()

Country                       111
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [244]:
df.isnull().sum()

Country                        8
1965                          16
1966                          16
1967                          16
1968                          16
                              ..
2021                          16
2022                          16
Growth rate 2022-2021 in %    16
Growth rate 2022-2012 in %    16
Share 2022 in %               16
Length: 62, dtype: int64

In [245]:
df.set_index('Country', inplace=True)

In [246]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,2.24,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7%,â¦,9.2%
Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,0.18,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1%,0.6%,0.8%
US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,3.27,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5%,-1.1%,6.0%
Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,5.69,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5%,-0.4%,16.0%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [247]:
null_rows= df.isna().any(axis=1)

In [248]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '*Based on gross generation and not accounting for cross-border electricity supply. â\x80\x9cInput-equivalentâ\x80\x9d energy is the amount of fuel that would be required by thermal power stations to generate the reported electricity output. ', 'Details on thermal efficiency assumptions are available in the appendices and definitions page and at https://www.energyinst.org/statistical-review.', '^ Less than 0.005.', 'â\x99¦ Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Notes: Annual changes and share of total are calculated using exajoules figures.']

In [249]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,2.24,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7%,â¦,9.2%
Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,0.18,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1%,0.6%,0.8%
US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,3.27,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5%,-1.1%,6.0%
Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,5.69,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5%,-0.4%,16.0%
Argentina,0.01,0.01,0.01,0.02,0.01,0.02,0.02,0.02,0.03,0.05,...,0.29,0.30,0.31,0.26,0.22,0.19,0.2,21.1%,-2.5%,0.6%

In [250]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [251]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [252]:
columns_to_convert = df_new.columns[:-3]

In [253]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [254]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [255]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,2.24,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7,0.0,9.2
Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,0.18,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1,0.6,0.8
US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,3.27,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5,-1.1,6.0
Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,5.69,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5,-0.4,16.0
Argentina,0.01,0.01,0.01,0.02,0.01,0.02,0.02,0.02,0.03,0.05,...,0.29,0.30,0.31,0.26,0.22,0.19,0.2,21.1,-2.5,0.6
Brazil,0.27,0.30,0.31,0.33,0.35,0.42,0.46,0.54,0.62,0.70,...,3.67,3.55,3.70,3.78,3.75,3.42,4.0,17.3,-0.2,9.9
Chile,0.04,0.04,0.05,0.04,0.04,0.05,0.05,0.06,0.06,0.07,...,0.19,0.20,0.22,0.20,0.21,0.17,0.2,22.7,0.5,0.5
Colombia,0.04,0.04,0.05,0.05,0.06,0.06,0.07,0.08,0.08,0.09,...,0.45,0.55,0.54,0.52,0.47,0.57,0.6,6.0,2.5,1.5
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.15,0.19,0.20,0.23,0.23,0.24,0.2,-4.0,6.7,0.6
Peru,0.03,0.03,0.03,0.04,0.04,0.04,0.05,0.05,0.05,0.06,...,0.23,0.28,0.29,0.30,0.29,0.30,0.3,-7.2,2.5,0.7
Trinidad & Tobago,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
Venezuela,0.01,0.01,0.02,0.03,0.03,0.04,0.06,0.06,0.07,0.08,...,0.61,0.67,0.62,0.60,0.64,0.64,0.6,-2.2,-2.5,1.5
Central America,0.01,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03,0.03,...,0.22,0.26,0.26,0.20,0.25,0.28,0.3,5.6,3.0,0.7
Other Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,...,0.02,0.03,0.02,0.02,0.02,0.02,0.0,-3.2,-2.5,0.0
Other South America,0.01,0.02,0.03,0.03,0.03,0.03,0.04,0.04,0.04,0.04,...,0.72,0.68,0.67,0.59,0.52,0.48,0.5,6.7,-3.0,1.2
Total S. & Cent. America,0.44,0.49,0.52,0.55,0.59,0.70,0.78,0.88,0.99,1.14,...,6.55,6.72,6.83,6.70,6.59,6.30,7.0,11.2,-0.2,17.2
Austria,0.17,0.18,0.19,0.19,0.18,0.23,0.18,0.18,0.20,0.24,...,0.39,0.37,0.36,0.39,0.40,0.37,0.3,-8.6,-2.6,0.8
Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,-24.8,-1.7,0.0
Bulgaria,0.02,0.02,0.02,0.01,0.02,0.02,0.02,0.02,0.03,0.02,...,0.04,0.03,0.05,0.03,0.03,0.05,0.0,-22.1,1.1,0.1
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.07,0.05,0.07,0.06,0.05,0.07,0.1,-24.2,0.6,0.1
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
Czech Republic,0.02,0.02,0.02,0.02,0.01,0.02,0.01,0.01,0.01,0.02,...,0.02,0.02,0.02,0.02,0.02,0.02,0.0,-13.4,-0.7,0.0
Denmark,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,-10.4,-2.2,0.0
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,1.5,-6.1,0.0
Finland,0.10,0.11,0.12,0.11,0.09,0.10,0.11,0.11,0.11,0.14,...,0.15,0.14,0.13,0.12,0.15,0.15,0.1,-13.8,-2.6,0.3
France,0.50,0.56,0.48,0.54,0.56,0.60,0.52,0.52,0.51,0.60,...,0.58,0.47,0.61,0.53,0.58,0.55,0.4,-24.3,-3.2,1.0
Germany,0.17,0.19,0.18,0.18,0.15,0.19,0.14,0.14,0.16,0.19,...,0.20,0.19,0.17,0.19,0.17,0.19,0.2,-11.3,-2.6,0.4
Greece,0.01,0.02,0.02,0.01,0.02,0.03,0.03,0.03,0.02,0.02,...,0.05,0.04,0.05,0.04,0.03,0.06,0.0,-23.2,-0.2,0.1
Hungary,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,-17.2,-2.4,0.0
Iceland,0.01,0.01,0.01,0.01,0.01,0.02,0.02,0.02,0.02,0.02,...,0.13,0.13,0.13,0.13,0.12,0.13,0.1,2.3,0.9,0.3

In [256]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Hydro_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [257]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Hydro_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,...,3.71,3.78,3.68,3.62,3.65,3.61,3.7,3.7,0.0,9.2
1,Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,...,0.30,0.31,0.31,0.22,0.25,0.33,0.3,2.1,0.6,0.8
2,US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,...,2.54,2.84,2.76,2.71,2.67,2.35,2.4,3.5,-1.1,6.0
3,Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,...,6.55,6.93,6.74,6.56,6.58,6.28,6.5,3.5,-0.4,16.0
4,Argentina,0.01,0.01,0.01,0.02,0.01,0.02,0.02,0.02,0.03,...,0.29,0.30,0.31,0.26,0.22,0.19,0.2,21.1,-2.5,0.6

In [258]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,1.26,1.39,1.43,1.45,1.60,1.68,1.73,1.93,2.07,...,3.84,3.73,3.71,3.71,3.78,3.68,3.62,3.65,3.61,3.7
1,Mexico,0.09,0.11,0.12,0.13,0.14,0.16,0.16,0.17,0.17,...,0.27,0.38,0.30,0.30,0.31,0.31,0.22,0.25,0.33,0.3
2,US,2.12,2.13,2.42,2.43,2.73,2.70,2.90,2.97,2.96,...,2.62,2.49,2.39,2.54,2.84,2.76,2.71,2.67,2.35,2.4
3,Total North America,3.47,3.63,3.96,4.01,4.47,4.54,4.78,5.07,5.21,...,6.73,6.60,6.39,6.55,6.93,6.74,6.56,6.58,6.28,6.5
4,Argentina,0.01,0.01,0.01,0.02,0.01,0.02,0.02,0.02,0.03,...,0.32,0.32,0.31,0.29,0.30,0.31,0.26,0.22,0.19,0.2

In [259]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [260]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Hydro_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

#  Nuclear consumtion in Exajoules

In [261]:
file_path ='../World_energy_consumption/Raw_data_files/Nuclear_consumption_Exajoule.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules (input-equivalent),1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,^,^,^,0.01,0.01,0.01,0.04,0.07,0.16,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.2%,-1.3%,3.2%
2,Mexico,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.335%,1.6%,0.4%
3,US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076%,-0.5%,30.3%
4,Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.976%,-0.5%,34.0%

In [262]:
rename_dict = {'Exajoules (input-equivalent)':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [263]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,^,^,^,0.01,0.01,0.01,0.04,0.07,0.16,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.2%,-1.3%,3.2%
2,Mexico,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.335%,1.6%,0.4%
3,US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076%,-0.5%,30.3%
4,Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.976%,-0.5%,34.0%

In [264]:
df=df.drop([0,0])

In [265]:
df.shape

(119, 62)

In [266]:
df.count()

Country                       111
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [267]:
df.isnull().sum()

Country                        8
1965                          16
1966                          16
1967                          16
1968                          16
                              ..
2021                          16
2022                          16
Growth rate 2022-2021 in %    16
Growth rate 2022-2012 in %    16
Share 2022 in %               16
Length: 62, dtype: int64

In [268]:
df.set_index('Country', inplace=True)

In [269]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,^,^,^,0.01,0.01,0.01,0.04,0.07,0.16,0.15,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.2%,-1.3%,3.2%
Mexico,-,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.335%,1.6%,0.4%
US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,1.23,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076%,-0.5%,30.3%
Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,1.38,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.976%,-0.5%,34.0%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
null_rows= df.isna().any(axis=1)

In [271]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '*Based on gross generation and not accounting for cross-border electricity supply. â\x80\x9cInput-equivalentâ\x80\x9d energy is the amount of fuel that would be required by thermal power stations to generate the reported electricity output. ', 'Details on thermal efficiency assumptions are available in the appendices and definitions page and at https://www.energyinst.org/statistical-review.', ' ^ Less than 0.005', ' â\x99¦ Less than 0.05%.', ' n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', ' #Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Notes: Annual changes and share of total are calculated using exajoules figures.']

In [272]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,^,^,^,0.01,0.01,0.01,0.04,0.07,0.16,0.15,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.2%,-1.3%,3.2%
Mexico,-,-,-,-,-,-,-,-,-,-,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.335%,1.6%,0.4%
US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,1.23,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076%,-0.5%,30.3%
Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,1.38,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.976%,-0.5%,34.0%
Argentina,-,-,-,-,-,-,-,-,-,0.01,...,0.08,0.06,0.06,0.08,0.09,0.09,0.07,-26.8%,1.0%,0.3%

In [273]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [274]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [275]:
columns_to_convert = df_new.columns[:-3]

In [276]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [277]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [278]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.00,0.00,0.00,0.01,0.01,0.01,0.04,0.07,0.16,0.15,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.20000,-1.3,3.2
Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.33500,1.6,0.4
US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,1.23,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076,-0.5,30.3
Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,1.38,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.97600,-0.5,34.0
Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.08,0.06,0.06,0.08,0.09,0.09,0.07,-26.80000,1.0,0.3
Brazil,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.15,0.14,0.14,0.15,0.13,0.13,0.13,-1.40000,-1.5,0.5
Chile,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Colombia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Peru,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Trinidad & Tobago,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Venezuela,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Central America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Other Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Other South America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Total S. & Cent. America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.22,0.20,0.21,0.22,0.22,0.22,0.20,-11.80000,-0.7,0.8
Austria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.40,0.39,0.26,0.40,0.31,0.45,0.39,-13.40000,0.3,1.6
Bulgaria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.15,0.14,0.15,0.15,0.15,0.15,0.15,-0.60000,-0.1,0.6
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Czech Republic,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.22,0.26,0.27,0.28,0.27,0.28,0.28,0.60000,-0.3,1.2
Denmark,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Finland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.21,0.21,0.21,0.22,0.21,0.21,0.23,6.60000,0.4,0.9
France,0.01,0.01,0.02,0.03,0.04,0.06,0.10,0.15,0.15,0.15,...,3.73,3.66,3.77,3.63,3.21,3.43,2.65,-22.60000,-4.1,11.0
Germany,0.00,0.00,0.01,0.02,0.05,0.07,0.06,0.10,0.12,0.15,...,0.78,0.70,0.69,0.68,0.58,0.62,0.31,-50.00000,-10.4,1.3
Greece,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0
Hungary,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.15,0.15,0.14,0.15,0.15,0.14,0.14,-1.50000,-0.5,0.6
Iceland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.0,0.0

In [279]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Nuclear_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [280]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Nuclear_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.00,0.00,0.00,0.01,0.01,0.01,0.04,0.07,0.16,...,0.93,0.92,0.91,0.92,0.88,0.83,0.78,-6.20000,-1.3,3.2
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.10,0.10,0.12,0.10,0.10,0.11,0.10,-9.33500,1.6,0.4
2,US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,...,7.84,7.79,7.76,7.76,7.54,7.42,7.31,-1.40076,-0.5,30.3
3,Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,...,8.87,8.81,8.80,8.78,8.53,8.36,8.19,-1.97600,-0.5,34.0
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.08,0.06,0.06,0.08,0.09,0.09,0.07,-26.80000,1.0,0.3

In [281]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.00,0.00,0.00,0.01,0.01,0.01,0.04,0.07,0.16,...,0.97,1.00,0.94,0.93,0.92,0.91,0.92,0.88,0.83,0.78
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.11,0.09,0.11,0.10,0.10,0.12,0.10,0.10,0.11,0.10
2,US,0.04,0.06,0.08,0.13,0.15,0.23,0.41,0.58,0.90,...,7.82,7.85,7.81,7.84,7.79,7.76,7.76,7.54,7.42,7.31
3,Total North America,0.04,0.06,0.08,0.14,0.16,0.25,0.45,0.66,1.05,...,8.90,8.94,8.85,8.87,8.81,8.80,8.78,8.53,8.36,8.19
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.05,0.07,0.08,0.06,0.06,0.08,0.09,0.09,0.07

In [282]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [283]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Nuclear_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Per capita energy consumption in Exajoules

In [284]:
file_path ='../World_energy_consumption/Raw_data_files/Primary_energy_per_capita.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Gigajoule per capita,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,Unnamed: 61
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,...,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4%,-1.0%,NaN
2,Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,...,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5%,-0.2%,NaN
3,US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,...,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3%,0.0%,NaN
4,Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,...,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6%,-0.2%,NaN

In [285]:
rename_dict = {'Gigajoule per capita':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %' }
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Unnamed: 61
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,...,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4%,-1.0%,NaN
2,Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,...,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5%,-0.2%,NaN
3,US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,...,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3%,0.0%,NaN
4,Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,...,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6%,-0.2%,NaN

In [286]:
df=df.drop([0,0])
df.shape

(127, 62)

In [287]:
df=df.drop('Unnamed: 61',axis=1)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2015,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %
1,Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,...,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4%,-1.0%
2,Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,...,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5%,-0.2%
3,US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,...,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3%,0.0%
4,Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,...,239.6,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6%,-0.2%
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
df.count()

Country                       110
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2020                          103
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Length: 61, dtype: int64

In [289]:
df.isnull().sum()

Country                       17
1965                          24
1966                          24
1967                          24
1968                          24
                              ..
2020                          24
2021                          24
2022                          24
Growth rate 2022-2021 in %    24
Growth rate 2022-2012 in %    24
Length: 61, dtype: int64

In [290]:
df.set_index('Country', inplace=True)

In [291]:
null_rows= df.isna().any(axis=1)

In [292]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* In this review, primary energy comprises commercially-traded fuels, including modern renewables used to generate electricity. ', ' Energy from all sources of non-fossil power generation is accounted for on an input-equivalent basis. See the appendix or https://www.energyinst.org/statistical-review for more details on this methodology.', '^ Less than 0.05.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [293]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,366.7,...,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4%,-1.0%
Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,35.3,...,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5%,-0.2%
US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,341.3,...,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3%,0.0%
Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,283.0,...,239.6,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6%,-0.2%
Argentina,53.6,54.5,55.2,56.2,57.2,53.4,55.7,55.5,57.0,58.3,...,83.0,81.8,81.0,79.8,74.6,69.5,76.8,79.2,3.1%,-0.2%

In [294]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
1970                          0
1971                          0
1972                          0
1973                          0
1974                          0
1975                          0
1976                          0
1977                          0
1978                          0
1979                          0
1980                          0
1981                          0
1982                          0
1983                          0
1984                          0
1985                          0
1986                          0
1987                          0
1988                          0
1989                          0
1990                          0
1991                          0
1992                          0
1993                          0
1994                          0
1995                          0
1996                          0
1997                          0
1998                          0
1999                          0
2000                          0
2001                          0
2002                          0
2003                          0
2004                          0
2005                          0
2006                          0
2007                          0
2008                          0
2009                          0
2010                          0
2011                          0
2012                          0
2013                          0
2014                          0
2015                          0
2016                          0
2017                          0
2018                          0
2019                          0
2020                          0
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
dtype: int64

In [295]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
1970                          103
1971                          103
1972                          103
1973                          103
1974                          103
1975                          103
1976                          103
1977                          103
1978                          103
1979                          103
1980                          103
1981                          103
1982                          103
1983                          103
1984                          103
1985                          103
1986                          103
1987                          103
1988                          103
1989                          103
1990                          103
1991                          103
1992                          103
1993                          103
1994                          103
1995                          103
1996                          103
1997                          103
1998                          103
1999                          103
2000                          103
2001                          103
2002                          103
2003                          103
2004                          103
2005                          103
2006                          103
2007                          103
2008                          103
2009                          103
2010                          103
2011                          103
2012                          103
2013                          103
2014                          103
2015                          103
2016                          103
2017                          103
2018                          103
2019                          103
2020                          103
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
dtype: int64

In [296]:
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
1970                          float64
1971                          float64
1972                          float64
1973                          float64
1974                          float64
1975                          float64
1976                          float64
1977                          float64
1978                          float64
1979                          float64
1980                          float64
1981                          float64
1982                          float64
1983                          float64
1984                          float64
1985                          float64
1986                          float64
1987                          float64
1988                          float64
1989                          float64
1990                          float64
1991                          float64
1992                          float64
1993                          float64
1994                          float64
1995                          float64
1996                          float64
1997                          float64
1998                          float64
1999                          float64
2000                          float64
2001                          float64
2002                          float64
2003                          float64
2004                          float64
2005                          float64
2006                          float64
2007                          float64
2008                          float64
2009                          float64
2010                          float64
2011                          float64
2012                          float64
2013                          float64
2014                          float64
2015                          float64
2016                          float64
2017                          float64
2018                          float64
2019                          float64
2020                          float64
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
dtype: object

In [297]:
columns_to_convert = df_new.columns[:-3]

In [298]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
1970                          float64
1971                          float64
1972                          float64
1973                          float64
1974                          float64
1975                          float64
1976                          float64
1977                          float64
1978                          float64
1979                          float64
1980                          float64
1981                          float64
1982                          float64
1983                          float64
1984                          float64
1985                          float64
1986                          float64
1987                          float64
1988                          float64
1989                          float64
1990                          float64
1991                          float64
1992                          float64
1993                          float64
1994                          float64
1995                          float64
1996                          float64
1997                          float64
1998                          float64
1999                          float64
2000                          float64
2001                          float64
2002                          float64
2003                          float64
2004                          float64
2005                          float64
2006                          float64
2007                          float64
2008                          float64
2009                          float64
2010                          float64
2011                          float64
2012                          float64
2013                          float64
2014                          float64
2015                          float64
2016                          float64
2017                          float64
2018                          float64
2019                          float64
2020                          float64
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
dtype: object

In [299]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])


# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
1970                          float64
1971                          float64
1972                          float64
1973                          float64
1974                          float64
1975                          float64
1976                          float64
1977                          float64
1978                          float64
1979                          float64
1980                          float64
1981                          float64
1982                          float64
1983                          float64
1984                          float64
1985                          float64
1986                          float64
1987                          float64
1988                          float64
1989                          float64
1990                          float64
1991                          float64
1992                          float64
1993                          float64
1994                          float64
1995                          float64
1996                          float64
1997                          float64
1998                          float64
1999                          float64
2000                          float64
2001                          float64
2002                          float64
2003                          float64
2004                          float64
2005                          float64
2006                          float64
2007                          float64
2008                          float64
2009                          float64
2010                          float64
2011                          float64
2012                          float64
2013                          float64
2014                          float64
2015                          float64
2016                          float64
2017                          float64
2018                          float64
2019                          float64
2020                          float64
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
dtype: object

In [300]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,366.7,...,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4,-1.0
Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,35.3,...,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5,-0.2
US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,341.3,...,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3,0.0
Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,283.0,...,239.6,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6,-0.2
Argentina,53.6,54.5,55.2,56.2,57.2,53.4,55.7,55.5,57.0,58.3,...,83.0,81.8,81.0,79.8,74.6,69.5,76.8,79.2,3.1,-0.2
Brazil,11.7,12.4,12.5,13.9,14.8,16.9,18.4,20.5,23.6,25.7,...,61.7,59.7,59.8,59.5,60.1,57.3,60.0,62.3,3.8,0.2
Chile,29.0,30.5,30.6,29.9,31.7,32.9,35.0,35.1,33.4,33.0,...,83.4,86.4,88.3,90.1,89.6,82.5,88.1,91.2,3.6,0.9
Colombia,19.2,21.0,21.6,21.8,21.5,23.0,22.2,25.0,23.7,25.9,...,36.9,41.2,40.9,40.8,40.4,36.2,40.1,42.3,5.4,1.3
Ecuador,5.8,6.0,6.3,7.2,7.4,8.6,9.2,9.3,9.7,11.0,...,41.8,41.0,42.0,43.6,43.8,37.3,42.9,43.7,1.9,0.8
Peru,16.8,19.9,19.7,19.5,19.1,19.2,19.6,17.1,18.9,21.2,...,33.0,34.6,34.6,35.6,35.8,30.1,33.9,35.4,4.5,1.3
Trinidad & Tobago,130.4,136.6,143.7,146.3,149.1,162.7,162.6,221.2,216.5,205.8,...,548.1,483.2,509.6,473.9,445.4,391.7,399.8,386.2,-3.4,-3.8
Venezuela,71.2,69.5,71.0,74.2,72.7,71.2,70.2,72.0,80.0,80.3,...,114.3,98.9,100.2,86.7,76.4,63.8,74.5,78.1,4.8,-4.5
Central America,10.2,10.3,10.5,10.6,10.8,11.0,11.2,11.5,12.3,12.7,...,27.0,27.8,28.4,28.5,29.6,26.7,29.7,30.5,2.8,2.2
Other Caribbean,35.4,35.9,36.6,36.7,37.0,41.6,42.3,44.3,48.3,47.2,...,37.7,38.8,37.2,37.9,38.7,35.0,35.1,35.4,0.8,-0.7
Other South America,14.9,15.8,15.9,16.0,16.8,17.3,18.0,18.2,18.7,18.0,...,55.9,59.9,58.7,58.7,55.0,47.4,49.8,50.9,2.0,-1.0
Total S. & Cent. America,23.5,24.3,24.6,25.4,25.9,27.1,28.0,29.5,31.7,32.8,...,58.7,57.6,57.6,56.6,55.6,51.0,54.7,56.5,3.4,-0.4
Austria,93.8,97.5,97.8,104.0,107.4,122.6,121.5,125.0,133.6,134.1,...,164.5,168.1,170.7,166.3,173.9,162.1,162.9,153.7,-5.6,-1.4
Belgium,157.9,151.3,158.0,175.3,191.7,201.7,197.1,208.8,211.1,203.4,...,210.4,225.7,226.4,224.6,230.9,206.8,228.9,210.2,-8.2,-0.6
Bulgaria,52.4,55.7,64.2,71.2,78.7,87.8,90.8,92.8,95.9,98.1,...,110.7,105.9,109.4,110.7,108.0,100.8,116.0,123.0,6.1,1.8
Croatia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,77.0,80.7,81.4,84.9,83.5,80.3,87.2,84.5,-3.1,1.5
Cyprus,27.3,30.9,33.2,36.6,42.9,45.0,53.3,59.7,63.7,56.7,...,88.5,95.4,97.1,95.9,95.2,82.3,86.3,91.3,5.7,-0.7
Czech Republic,173.9,174.7,171.6,178.7,186.0,193.6,203.1,203.5,203.7,204.6,...,161.0,158.8,167.7,167.1,163.3,151.3,159.8,159.3,-0.3,-0.7
Denmark,125.8,141.9,141.6,146.9,167.7,177.7,167.0,175.1,168.5,152.6,...,123.5,124.8,124.8,122.6,119.3,105.8,115.7,115.9,0.2,-1.0
Estonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,187.9,193.6,214.4,212.0,170.3,159.2,167.0,167.4,0.3,-1.8
Finland,91.0,103.2,108.0,116.7,128.4,142.0,145.6,152.6,167.2,159.6,...,216.1,218.9,213.9,217.9,213.2,203.9,208.0,212.3,2.1,-0.6
France,97.9,99.2,104.5,109.2,119.3,128.5,132.4,140.3,151.2,147.5,...,158.1,155.0,153.5,156.0,152.4,137.0,145.7,129.8,-10.9,-2.3
Germany,140.6,139.9,138.5,147.0,157.8,166.0,167.1,172.6,182.5,179.4,...,165.8,168.0,169.6,164.8,160.1,149.0,153.2,147.5,-3.7,-1.2
Greece,33.4,36.6,40.3,41.9,44.2,49.0,58.2,65.0,74.3,72.1,...,103.8,102.8,108.5,109.7,107.9,94.8,104.3,109.5,5.0,-0.5
Hungary,65.7,66.4,63.1,65.2,69.6,74.7,76.9,79.2,85.5,87.7,...,91.8,93.7,99.0,99.9,101.3,99.8,105.3,96.0,-8.8,0.5
Iceland,142.0,146.4,142.7,148.9,147.3,177.9,192.0,205.8,245.2,235.9,...,665.6,658.9,673.1,677.9,631.9,560.7,564.9,597.1,5.7,-0.7

In [301]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
1970                          103
1971                          103
1972                          103
1973                          103
1974                          103
1975                          103
1976                          103
1977                          103
1978                          103
1979                          103
1980                          103
1981                          103
1982                          103
1983                          103
1984                          103
1985                          103
1986                          103
1987                          103
1988                          103
1989                          103
1990                          103
1991                          103
1992                          103
1993                          103
1994                          103
1995                          103
1996                          103
1997                          103
1998                          103
1999                          103
2000                          103
2001                          103
2002                          103
2003                          103
2004                          103
2005                          103
2006                          103
2007                          103
2008                          103
2009                          103
2010                          103
2011                          103
2012                          103
2013                          103
2014                          103
2015                          103
2016                          103
2017                          103
2018                          103
2019                          103
2020                          103
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
dtype: int64

In [302]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Per_capita_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [303]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Per_capita_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2015,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %
0,Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,...,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8,1.4,-1.0
1,Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,...,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4,8.5,-0.2
2,US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,...,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5,2.3,0.0
3,Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,...,239.6,237.3,236.6,241.7,238.1,219.5,229.6,235.6,2.6,-0.2
4,Argentina,53.6,54.5,55.2,56.2,57.2,53.4,55.7,55.5,57.0,...,83.0,81.8,81.0,79.8,74.6,69.5,76.8,79.2,3.1,-0.2

In [304]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-2:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,254.0,265.4,272.8,285.7,298.7,313.8,317.0,336.0,360.4,...,410.6,407.5,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8
1,Mexico,24.7,25.3,25.0,26.3,28.0,28.9,29.5,31.6,33.0,...,68.8,67.5,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4
2,US,274.0,286.1,293.1,307.5,319.9,327.2,329.8,342.3,353.2,...,290.0,290.6,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5
3,Total North America,230.2,239.5,244.4,255.5,265.1,271.0,272.5,282.6,291.7,...,244.0,243.7,239.6,237.3,236.6,241.7,238.1,219.5,229.6,235.6
4,Argentina,53.6,54.5,55.2,56.2,57.2,53.4,55.7,55.5,57.0,...,83.3,82.4,83.0,81.8,81.0,79.8,74.6,69.5,76.8,79.2

In [305]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [306]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Per_capita_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Geothermal consumption in Exajoules

In [307]:
file_path ='../World_energy_consumption/Raw_data_files/Geo_thermal_consumption_Exajoules.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules (input-equivalent),1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.13,0.13,0.12,0.12,0.11,0.11,0.10,-13.6%,-2.4%,1.1%
2,Mexico,-,-,-,-,-,-,-,-,^,...,0.07,0.08,0.07,0.07,0.07,0.06,0.06,11.4%,-0.2%,0.7%
3,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,0.91,0.91,0.90,0.84,0.81,0.81,0.81,-0.1%,-0.5%,9.3%
4,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,1.12,1.12,1.09,1.03,0.99,0.98,0.97,-0.9%,-0.7%,11.2%

In [308]:
rename_dict = {'Exajoules (input-equivalent)':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.13,0.13,0.12,0.12,0.11,0.11,0.10,-13.6%,-2.4%,1.1%
2,Mexico,-,-,-,-,-,-,-,-,^,...,0.07,0.08,0.07,0.07,0.07,0.06,0.06,11.4%,-0.2%,0.7%
3,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,0.91,0.91,0.90,0.84,0.81,0.81,0.81,-0.1%,-0.5%,9.3%
4,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,1.12,1.12,1.09,1.03,0.99,0.98,0.97,-0.9%,-0.7%,11.2%

In [309]:
df.set_index('Country', inplace=True)

In [310]:
null_rows= df.isna().any(axis=1)
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, '*Based on gross generation and not accounting for cross-border electricity supply. â\x80\x9cInput-equivalentâ\x80\x9d energy is the amount of fuel that would be required by thermal power stations to generate the reported electricity output. ', 'Details on thermal efficiency assumptions are available in the appendices and definitions page and at https://www.energyinst.org/statistical-review.', '^ Less than 0.005.', 'â\x99¦ Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic states.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Annual changes and share of total are calculated using exajoules figures and incorporate adjustments for assumed changes in thermal efficiency.']

In [311]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,-,-,-,-,-,-,-,-,-,-,...,0.13,0.13,0.12,0.12,0.11,0.11,0.10,-13.6%,-2.4%,1.1%
Mexico,-,-,-,-,-,-,-,-,^,^,...,0.07,0.08,0.07,0.07,0.07,0.06,0.06,11.4%,-0.2%,0.7%
US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.23,...,0.91,0.91,0.90,0.84,0.81,0.81,0.81,-0.1%,-0.5%,9.3%
Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.24,...,1.12,1.12,1.09,1.03,0.99,0.98,0.97,-0.9%,-0.7%,11.2%
Argentina,-,-,-,-,-,^,^,^,^,^,...,0.01,0.02,0.02,0.02,0.03,0.03,0.03,3.9%,4.9%,0.3%

In [312]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [313]:
columns_to_convert = df_new.columns[:-3]
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [314]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [315]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.13,0.12,0.12,0.11,0.11,0.10,-13.6,-2.4,1.1
Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.07,0.08,0.07,0.07,0.07,0.06,0.06,11.4,-0.2,0.7
US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.23,...,0.91,0.91,0.90,0.84,0.81,0.81,0.81,-0.1,-0.5,9.3
Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.24,...,1.12,1.12,1.09,1.03,0.99,0.98,0.97,-0.9,-0.7,11.2
Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.02,0.02,0.02,0.03,0.03,0.03,3.9,4.9,0.3
Brazil,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01,...,0.59,0.61,0.62,0.63,0.68,0.64,0.61,-5.3,4.0,7.0
Chile,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.08,0.09,0.10,0.09,0.08,0.07,0.07,-5.8,0.2,0.8
Colombia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.02,0.03,0.03,0.03,0.03,-2.6,7.0,0.4
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.00,0.01,0.01,0.00,0.00,-6.1,2.8,0.1
Peru,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,-1.3,1.5,0.1
Trinidad & Tobago,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
Venezuela,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
Central America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.09,0.09,0.09,0.11,0.10,0.10,0.10,-2.5,3.9,1.2
Other Caribbean,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.02,0.01,-13.6,1.8,0.2
Other South America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.03,0.03,0.03,0.04,0.04,0.04,-3.7,8.0,0.4
Total S. & Cent. America,0.00,0.00,0.00,0.00,0.00,0.01,0.02,0.02,0.03,0.03,...,0.85,0.88,0.92,0.93,0.98,0.95,0.90,-4.7,3.8,10.4
Austria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.06,0.06,0.05,0.05,0.05,0.05,4.6,0.0,0.6
Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.07,0.06,0.06,0.06,0.05,0.05,-4.9,-1.6,0.6
Bulgaria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.02,0.02,0.02,0.03,0.03,-13.9,42.2,0.3
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.01,0.01,0.01,0.01,0.01,0.01,2.1,29.0,0.2
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-35.0,-2.5,0.0
Czech Republic,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.05,0.06,0.06,0.06,0.06,0.06,0.06,1.1,4.9,0.7
Denmark,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.07,0.07,0.07,0.07,0.10,0.09,-14.0,5.4,1.0
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.02,0.02,0.02,0.02,0.02,-2.7,5.8,0.2
Finland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.14,0.15,0.15,0.13,0.16,0.16,3.0,2.3,1.9
France,0.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.02,0.02,...,0.09,0.10,0.10,0.10,0.10,0.11,0.11,5.2,5.5,1.3
Germany,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01,...,0.59,0.59,0.59,0.58,0.59,0.58,0.58,0.1,1.5,6.7
Greece,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.01,0.01,0.01,1.5,9.5,0.1
Hungary,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.03,0.03,0.02,0.03,0.02,-7.9,2.2,0.3
Iceland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.05,0.05,0.05,0.05,0.05,0.05,0.05,1.7,0.8,0.6

In [316]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 61, dtype: int64

In [317]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Geo_thermal_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [318]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Geo_thermal_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.13,0.12,0.12,0.11,0.11,0.10,-13.6,-2.4,1.1
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.07,0.08,0.07,0.07,0.07,0.06,0.06,11.4,-0.2,0.7
2,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,0.91,0.91,0.90,0.84,0.81,0.81,0.81,-0.1,-0.5,9.3
3,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,1.12,1.12,1.09,1.03,0.99,0.98,0.97,-0.9,-0.7,11.2
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.02,0.02,0.02,0.03,0.03,0.03,3.9,4.9,0.3

In [319]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.11,0.11,0.13,0.13,0.12,0.12,0.11,0.11,0.10
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.07,0.07,0.07,0.07,0.08,0.07,0.07,0.07,0.06,0.06
2,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,0.89,0.93,0.93,0.91,0.91,0.90,0.84,0.81,0.81,0.81
3,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,1.09,1.11,1.11,1.12,1.12,1.09,1.03,0.99,0.98,0.97
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.02,0.01,0.02,0.02,0.02,0.03,0.03,0.03

In [320]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [321]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Geo_thermal_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")