In [12]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [14]:
file_path ='../World_energy_consumption/Raw_data_files/Primary_energy_consumption.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [15]:
print(df_1.describe())

       Exajoules 1965 1966 1967 1968 1969 1970 1971 1972 1973  ...  2016  \
count        110  103  103  103  103  103  103  103  103  103  ...   103
unique       110   73   71   71   70   70   75   77   75   71  ...    96
top       Canada    -    -    -    -    -    -    -    -    -  ...  0.92
freq           1   15   15   15   15   15   15   14   14   14  ...     2

        2017  2018  2019  2020  2021  2022 2022.1 2012-22 2022.2
count    103   103   103   103   103   103    103     103    103
unique    98    99    95    95   101    94     78      60     34
top     1.62  1.31  1.29  1.91  1.50  0.14   6.4%    0.8%   0.2%
freq       2     2     2     2     2     2      4       7     15

[4 rows x 62 columns]