In [24]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

# Energy consumtion in Exajoules

In [25]:
file_path ='../World_energy_consumption/Raw_data_files/Primary_energy_consumption.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [26]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [27]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [28]:
df=df.drop([0,0])

In [29]:
df.shape

(126, 62)

In [30]:
df.count()

Country                       110
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [31]:
df.isnull().sum()

Country                       16
1965                          23
1966                          23
1967                          23
1968                          23
                              ..
2021                          23
2022                          23
Growth rate 2022-2021 in %    23
Growth rate 2022-2012 in %    23
Share 2022 in %               23
Length: 62, dtype: int64

In [32]:
df.set_index('Country', inplace=True)

In [33]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
null_rows= df.isna().any(axis=1)

In [35]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* In this review, primary energy comprises commercially-traded fuels, including modern renewables used to generate electricity. ', 'Energy from all sources of non-fossil power generation is accounted for on an input-equivalent basis. See the appendix or https://www.energyinst.org/statistical-review for more details on this methodology.', '^ Less than 0.005.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Slovenia prior to 1990.', nan, nan, nan, nan, nan, nan, nan, nan]

In [36]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,1.48,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7%,0.6%,0.6%

In [37]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [38]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [39]:
columns_to_convert = df_new.columns[:-3]

In [40]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [41]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [42]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2,0.1,2.3
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2,0.8,1.4
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7,0.6,15.9
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1,0.6,19.7
Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,1.48,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7,0.6,0.6
Brazil,0.99,1.08,1.11,1.27,1.39,1.63,1.82,2.08,2.45,2.73,...,12.36,12.47,12.51,12.72,12.22,12.85,13.41,4.3,0.9,2.2
Chile,0.26,0.28,0.29,0.28,0.31,0.32,0.35,0.36,0.34,0.35,...,1.56,1.62,1.69,1.71,1.59,1.72,1.79,4.2,2.1,0.3
Colombia,0.35,0.40,0.42,0.43,0.44,0.48,0.48,0.55,0.53,0.59,...,1.96,1.98,2.01,2.03,1.85,2.07,2.19,6.1,2.6,0.4
Ecuador,0.03,0.03,0.04,0.04,0.04,0.05,0.06,0.06,0.07,0.08,...,0.67,0.70,0.74,0.76,0.66,0.76,0.79,3.1,2.3,0.1
Peru,0.20,0.24,0.25,0.25,0.25,0.26,0.27,0.24,0.28,0.32,...,1.08,1.09,1.15,1.18,1.00,1.14,1.21,5.5,2.7,0.2
Trinidad & Tobago,0.12,0.13,0.14,0.14,0.15,0.16,0.16,0.22,0.22,0.21,...,0.71,0.75,0.71,0.68,0.59,0.61,0.59,-3.1,-3.1,0.1
Venezuela,0.69,0.70,0.73,0.79,0.80,0.81,0.82,0.87,0.99,1.03,...,3.04,3.06,2.59,2.21,1.82,2.10,2.21,5.2,-4.9,0.4
Central America,0.16,0.16,0.17,0.18,0.19,0.20,0.20,0.22,0.24,0.25,...,1.33,1.38,1.40,1.47,1.34,1.51,1.57,4.0,3.6,0.3
Other Caribbean,0.79,0.82,0.85,0.87,0.89,1.02,1.06,1.13,1.25,1.24,...,1.61,1.55,1.59,1.63,1.49,1.50,1.52,1.3,-0.2,0.3
Other South America,0.15,0.16,0.16,0.17,0.18,0.19,0.20,0.21,0.21,0.21,...,1.35,1.34,1.36,1.29,1.12,1.19,1.23,3.0,0.2,0.2
Total S. & Cent. America,4.92,5.21,5.41,5.73,5.98,6.40,6.77,7.30,8.01,8.49,...,29.24,29.52,29.29,29.01,26.81,28.93,30.11,4.1,0.5,5.0
Austria,0.68,0.71,0.72,0.77,0.80,0.91,0.91,0.94,1.01,1.02,...,1.47,1.50,1.47,1.54,1.44,1.45,1.37,-5.5,-0.8,0.2
Belgium,1.49,1.43,1.50,1.68,1.84,1.94,1.91,2.03,2.05,1.98,...,2.55,2.58,2.57,2.66,2.39,2.66,2.45,-7.8,-0.1,0.4
Bulgaria,0.43,0.46,0.54,0.60,0.67,0.75,0.78,0.81,0.84,0.86,...,0.77,0.79,0.79,0.76,0.70,0.80,0.83,4.5,0.8,0.1
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.34,0.34,0.35,0.34,0.33,0.35,0.34,-3.8,0.8,0.1
Cyprus,0.02,0.02,0.02,0.02,0.03,0.03,0.03,0.04,0.04,0.04,...,0.11,0.12,0.12,0.12,0.10,0.11,0.11,6.4,0.0,0.0
Czech Republic,1.69,1.70,1.67,1.75,1.82,1.90,1.99,2.00,2.02,2.04,...,1.67,1.77,1.76,1.72,1.59,1.68,1.67,-0.5,-0.7,0.3
Denmark,0.60,0.68,0.68,0.72,0.82,0.87,0.83,0.87,0.84,0.77,...,0.71,0.72,0.71,0.69,0.62,0.68,0.68,0.6,-0.5,0.1
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.25,0.28,0.28,0.23,0.21,0.22,0.22,0.1,-1.7,0.0
Finland,0.42,0.47,0.50,0.54,0.59,0.65,0.67,0.71,0.78,0.75,...,1.20,1.18,1.20,1.18,1.13,1.15,1.18,2.2,-0.4,0.2
France,4.71,4.83,5.14,5.42,5.98,6.49,6.75,7.21,7.83,7.69,...,9.92,9.84,10.03,9.81,8.84,9.40,8.39,-10.8,-2.1,1.4
Germany,10.69,10.72,10.69,11.41,12.31,13.00,13.12,13.57,14.35,14.10,...,13.83,14.01,13.66,13.31,12.41,12.78,12.30,-3.8,-1.0,2.0
Greece,0.28,0.31,0.34,0.36,0.38,0.42,0.50,0.56,0.64,0.63,...,1.11,1.16,1.17,1.14,1.00,1.09,1.14,4.4,-1.0,0.2
Hungary,0.67,0.67,0.64,0.67,0.72,0.77,0.80,0.82,0.89,0.92,...,0.92,0.97,0.98,0.99,0.97,1.02,0.96,-6.4,0.6,0.2
Iceland,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.04,0.05,0.05,...,0.22,0.23,0.24,0.23,0.21,0.21,0.22,6.4,0.8,0.0

In [43]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Primary_energy_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [44]:
# Now, transforming the data to store in postgres
file_path ='../World_energy_consumption/Clean_data_files/Primary_energy_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2,0.1,2.3
1,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2,0.8,1.4
2,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7,0.6,15.9
3,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1,0.6,19.7
4,Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7,0.6,0.6

In [45]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.40,14.43,14.52,14.32,14.54,14.67,14.59,13.71,13.84,14.14
1,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.07,8.02,7.93,8.11,8.26,8.16,8.06,7.43,7.99,8.73
2,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.62,93.59,92.69,92.60,92.95,96.35,95.67,88.57,93.40,95.91
3,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.09,116.03,115.14,115.04,115.76,119.18,118.32,109.71,115.23,118.78
4,Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,...,3.53,3.53,3.59,3.57,3.57,3.54,3.34,3.13,3.48,3.60

In [46]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [47]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Primary_energy_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# CO2 emissions

In [74]:
file_path ='../World_energy_consumption/Raw_data_files/CO2_emissions_by_energy.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Million tonnes of carbon dioxide,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861%,-0.5%,1.5%
2,Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468%,0.1%,1.5%
3,US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204%,-0.5%,14.0%
4,Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.1%,-0.5%,17.0%

In [75]:
rename_dict = {'Million tonnes of carbon dioxide':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }

In [76]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861%,-0.5%,1.5%
2,Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468%,0.1%,1.5%
3,US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204%,-0.5%,14.0%
4,Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.1%,-0.5%,17.0%

In [77]:
df=df.drop([0,0])

In [78]:
df.shape

(119, 62)

In [79]:
df.count()

Country                       111
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [80]:
df.isnull().sum()

Country                        8
1965                          16
1966                          16
1967                          16
1968                          16
                              ..
2021                          16
2022                          16
Growth rate 2022-2021 in %    16
Growth rate 2022-2012 in %    16
Share 2022 in %               16
Length: 62, dtype: int64

In [81]:
df.set_index('Country', inplace=True)

In [82]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,400.2,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861%,-0.5%,1.5%
Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,120.9,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468%,0.1%,1.5%
US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,4567.6,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204%,-0.5%,14.0%
Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,5088.6,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.1%,-0.5%,17.0%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
null_rows= df.isna().any(axis=1)

In [84]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Notes: The carbon emissions above reflect only those through consumption of oil, gas and coal for combustion related activities, and are based on', "Default CO2 Emissions Factors for Combustion' listed by the IPCC in its Guidelines for National Greenhouse Gas Inventories (2006). ", ' This does not allow for any carbon that is sequestered, for other sources of carbon emissions, or for emissions of other greenhouse gases. ', ' Our data is therefore not comparable to official national emissions data.']

In [85]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,400.2,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861%,-0.5%,1.5%
Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,120.9,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468%,0.1%,1.5%
US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,4567.6,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204%,-0.5%,14.0%
Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,5088.6,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.1%,-0.5%,17.0%
Argentina,82.2,84.5,86.9,89.3,92.2,85.9,90.8,91.6,94.9,97.1,...,190.1,188.5,186.0,174.6,162.3,184.7,190.1,2.938%,0.4%,0.6%

In [86]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [87]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [88]:
columns_to_convert = df_new.columns[:-3]

In [89]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [90]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [91]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,400.2,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861,-0.5,1.5
Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,120.9,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468,0.1,1.5
US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,4567.6,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204,-0.5,14.0
Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,5088.6,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.100,-0.5,17.0
Argentina,82.2,84.5,86.9,89.3,92.2,85.9,90.8,91.6,94.9,97.1,...,190.1,188.5,186.0,174.6,162.3,184.7,190.1,2.938,0.4,0.6
Brazil,51.5,56.2,58.0,68.1,74.3,85.1,96.1,106.8,127.3,139.3,...,455.9,461.7,442.1,435.5,408.4,461.6,443.3,-3.960,-0.3,1.3
Chile,16.5,17.8,18.1,18.6,19.7,20.8,22.2,21.8,21.2,20.6,...,92.2,93.9,93.5,94.8,85.1,93.7,89.7,-4.248,0.5,0.3
Colombia,23.8,26.7,27.9,28.4,28.4,31.2,29.9,34.6,32.4,36.5,...,102.6,95.7,97.4,99.7,89.6,96.8,103.0,6.484,2.1,0.3
Ecuador,2.1,2.2,2.3,2.8,2.9,3.5,3.8,3.8,4.3,4.8,...,35.4,34.3,37.1,35.7,29.1,36.1,38.5,6.505,1.2,0.1
Peru,12.1,15.0,15.1,15.2,15.2,16.0,16.0,13.8,15.9,18.6,...,53.2,51.0,52.8,54.4,43.4,51.6,56.8,10.015,2.4,0.2
Trinidad & Tobago,7.7,8.0,8.5,8.7,9.0,9.7,9.9,14.3,14.2,13.3,...,21.9,21.3,20.6,17.0,15.2,15.5,15.1,-2.392,-4.6,0.0
Venezuela,43.7,44.0,46.0,49.0,49.1,49.4,49.5,52.3,59.7,60.8,...,149.3,146.3,121.1,100.2,71.1,87.2,95.3,9.253,-6.1,0.3
Central America,10.4,10.7,11.2,11.5,12.0,12.4,12.9,13.7,15.1,16.0,...,71.6,71.9,72.4,80.3,68.2,77.8,81.1,4.270,3.3,0.2
Other Caribbean,48.7,50.2,52.2,53.3,56.4,70.2,71.4,76.5,84.5,83.7,...,111.1,107.0,109.7,112.1,102.5,101.4,103.3,1.915,-0.3,0.3
Other South America,9.9,9.8,10.1,10.2,11.0,11.3,11.6,12.3,12.6,12.2,...,37.6,38.5,39.6,40.0,33.6,41.2,41.7,1.177,2.1,0.1
Total S. & Cent. America,308.6,325.0,336.2,355.2,370.2,395.5,414.0,441.5,482.1,503.0,...,1320.9,1310.0,1272.3,1244.3,1108.6,1247.5,1257.9,0.800,-0.2,3.7
Austria,39.5,39.8,40.1,43.0,46.1,51.2,53.8,54.9,58.3,55.6,...,61.5,64.3,62.3,63.9,56.2,58.5,55.7,-4.711,-1.1,0.2
Belgium,124.7,118.5,123.4,135.1,144.4,149.0,142.1,149.3,147.1,141.4,...,116.9,118.8,125.5,121.8,105.3,113.5,108.2,-4.678,-0.7,0.3
Bulgaria,36.7,39.2,45.2,51.0,55.7,62.4,64.6,66.6,68.6,69.9,...,43.1,45.9,42.6,41.5,36.1,41.9,46.4,10.825,0.1,0.1
Croatia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.7,17.1,16.3,16.3,14.9,15.4,15.8,2.319,-0.5,0.0
Cyprus,1.2,1.3,1.5,1.6,1.9,2.0,2.4,2.7,2.9,2.4,...,8.1,8.3,8.2,8.2,7.0,7.2,7.7,6.093,-0.6,0.0
Czech Republic,156.2,157.0,153.8,160.4,167.2,172.5,181.0,180.7,180.6,181.4,...,104.8,104.8,103.8,98.2,88.4,92.9,95.0,2.230,-1.4,0.3
Denmark,47.7,54.3,54.0,56.1,63.9,67.5,63.2,66.6,65.0,59.2,...,37.0,34.4,34.8,31.5,26.0,28.2,27.7,-1.853,-3.5,0.1
Estonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.2,24.5,24.1,18.3,15.8,16.8,17.1,1.760,-2.9,0.0
Finland,24.7,28.1,28.9,33.2,38.9,43.2,43.3,44.8,50.5,46.0,...,47.7,45.1,46.5,43.3,36.8,36.2,34.1,-5.655,-4.0,0.1
France,329.4,331.0,355.9,369.3,404.4,433.7,453.6,477.8,518.8,500.5,...,313.1,317.8,306.6,299.1,251.5,274.4,269.7,-1.719,-2.2,0.8
Germany,910.4,901.0,892.4,944.8,1011.9,1043.4,1045.1,1067.3,1116.4,1085.3,...,770.5,760.9,733.1,680.1,605.5,642.8,634.9,-1.238,-1.9,1.8
Greece,22.5,23.7,26.0,27.2,27.8,29.8,37.2,41.9,48.9,48.2,...,70.7,75.0,73.6,69.6,56.3,59.3,62.8,5.913,-3.4,0.2
Hungary,59.5,59.3,55.3,56.4,59.5,63.0,64.1,65.4,69.9,71.7,...,44.7,46.9,47.3,47.1,44.7,46.1,42.9,-6.900,-0.4,0.1
Iceland,1.5,1.6,1.5,1.7,1.5,1.5,1.7,1.8,2.0,1.9,...,2.8,3.1,3.3,2.8,1.8,1.8,2.5,37.389,0.0,0.0

In [92]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/CO2_emissions_by_energy.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [93]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/CO2_emissions_by_energy.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,...,545.9,561.5,571.5,558.8,500.1,510.2,519.7,1.861,-0.5,1.5
1,Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,...,491.1,503.3,489.0,480.1,417.8,449.8,505.9,12.468,0.1,1.5
2,US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,...,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8,1.204,-0.5,14.0
3,Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,...,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4,2.100,-0.5,17.0
4,Argentina,82.2,84.5,86.9,89.3,92.2,85.9,90.8,91.6,94.9,...,190.1,188.5,186.0,174.6,162.3,184.7,190.1,2.938,0.4,0.6

In [94]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,260.3,271.7,285.5,308.3,320.5,344.9,351.6,368.0,393.7,...,559.3,564.5,564.3,545.9,561.5,571.5,558.8,500.1,510.2,519.7
1,Mexico,62.1,65.1,66.6,72.2,79.1,84.2,89.5,99.7,107.7,...,496.7,482.8,480.9,491.1,503.3,489.0,480.1,417.8,449.8,505.9
2,US,3451.9,3639.8,3738.2,3947.3,4117.4,4271.5,4309.1,4525.8,4739.5,...,5246.6,5251.7,5137.5,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8
3,Total North America,3774.4,3976.5,4090.4,4327.8,4517.0,4700.6,4750.1,4993.5,5240.9,...,6302.6,6299.0,6182.7,6075.0,6043.6,6193.7,6020.4,5380.6,5728.4,5851.4
4,Argentina,82.2,84.5,86.9,89.3,92.2,85.9,90.8,91.6,94.9,...,187.6,187.8,191.2,190.1,188.5,186.0,174.6,162.3,184.7,190.1

In [95]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [96]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/CO2_emissions_by_energy.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

# Renewable consumption in Exajoules

In [121]:
file_path ='../World_energy_consumption/Raw_data_files/Renewable_consumption.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules (input-equivalent),1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.54,0.55,0.56,0.56,0.57,0.58,0.59,2.2%,6.2%,1.3%
2,Mexico,-,-,-,-,-,-,-,-,^,...,0.18,0.20,0.23,0.33,0.41,0.46,0.45,-2.2%,15.3%,1.0%
3,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.13,5.60,5.88,6.20,6.65,7.47,8.43,12.8%,9.2%,18.7%
4,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.85,6.35,6.67,7.09,7.64,8.50,9.46,11.3%,9.2%,20.9%

In [122]:
rename_dict = {'Exajoules (input-equivalent)':'Country','2022.1':'Growth rate 2022-2021 in %','2012-22':'Growth rate 2022-2012 in %', '2022.2':'Share 2022 in %' }
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,-,-,-,-,-,-,-,-,-,...,0.54,0.55,0.56,0.56,0.57,0.58,0.59,2.2%,6.2%,1.3%
2,Mexico,-,-,-,-,-,-,-,-,^,...,0.18,0.20,0.23,0.33,0.41,0.46,0.45,-2.2%,15.3%,1.0%
3,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.13,5.60,5.88,6.20,6.65,7.47,8.43,12.8%,9.2%,18.7%
4,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.85,6.35,6.67,7.09,7.64,8.50,9.46,11.3%,9.2%,20.9%

In [123]:
df=df.drop([0,0])
df.shape

(119, 62)

In [124]:
df.count()

Country                       111
1965                          103
1966                          103
1967                          103
1968                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 62, dtype: int64

In [125]:
df.isnull().sum()

Country                        8
1965                          16
1966                          16
1967                          16
1968                          16
                              ..
2021                          16
2022                          16
Growth rate 2022-2021 in %    16
Growth rate 2022-2012 in %    16
Share 2022 in %               16
Length: 62, dtype: int64

In [126]:
df.set_index('Country', inplace=True)

In [127]:
null_rows= df.isna().any(axis=1)

In [128]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '*Based on gross generation and not accounting for cross-border electricity supply. Ã¢\x80\x9cInput-equivalentÃ¢\x80\x9d energy is the amount of fuel that would be required by thermal power stations to generate the reported electricity output. ', 'Details on thermal efficiency assumptions are available in the appendices and definitions page and at https://www.energyinst.org/statistical-review.', '^ Less than 0.005.', 'Ã¢\x99Â¦ Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic states.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.', 'Annual changes and share of total are calculated using exajoules figures and incorporate adjustments for assumed changes in thermal efficiency.']

In [129]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,-,-,-,-,-,-,-,-,-,-,...,0.54,0.55,0.56,0.56,0.57,0.58,0.59,2.2%,6.2%,1.3%
Mexico,-,-,-,-,-,-,-,-,^,^,...,0.18,0.20,0.23,0.33,0.41,0.46,0.45,-2.2%,15.3%,1.0%
US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.23,...,5.13,5.60,5.88,6.20,6.65,7.47,8.43,12.8%,9.2%,18.7%
Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.24,...,5.85,6.35,6.67,7.09,7.64,8.50,9.46,11.3%,9.2%,20.9%
Argentina,-,-,-,-,-,^,^,^,^,^,...,0.08,0.09,0.09,0.14,0.16,0.21,0.24,15.3%,15.2%,0.5%

In [130]:
df_new.isnull().sum()

1965                          0
1966                          0
1967                          0
1968                          0
1969                          0
                             ..
2021                          0
2022                          0
Growth rate 2022-2021 in %    0
Growth rate 2022-2012 in %    0
Share 2022 in %               0
Length: 61, dtype: int64

In [131]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 61, dtype: int64

In [132]:
df_new.dtypes

1965                          object
1966                          object
1967                          object
1968                          object
1969                          object
                               ...
2021                          object
2022                          object
Growth rate 2022-2021 in %    object
Growth rate 2022-2012 in %    object
Share 2022 in %               object
Length: 61, dtype: object

In [133]:
columns_to_convert = df_new.columns[:-3]

In [134]:
for column in columns_to_convert:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %     object
Growth rate 2022-2012 in %     object
Share 2022 in %                object
Length: 61, dtype: object

In [135]:
# Function to convert percentage strings to float and handle non-numeric values
def convert_percent_to_float(df_new_column):
    # Replace '%' and handle non-numeric entries
    return pd.to_numeric(df_new_column.str.replace('%', '').replace('-', np.nan), errors='coerce')

# Applying the conversion function to the last three columns
df_new['Growth rate 2022-2021 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2021 in %'])
df_new['Growth rate 2022-2012 in %'] = convert_percent_to_float(df_new['Growth rate 2022-2012 in %'])
df_new['Share 2022 in %'] = convert_percent_to_float(df_new['Share 2022 in %'])

# Output the updated Data type in the dataframe
df_new.dtypes

1965                          float64
1966                          float64
1967                          float64
1968                          float64
1969                          float64
                               ...
2021                          float64
2022                          float64
Growth rate 2022-2021 in %    float64
Growth rate 2022-2012 in %    float64
Share 2022 in %               float64
Length: 61, dtype: object

In [136]:
# Dropping rows where any cell has NaN
df_new.fillna(0, inplace=True)

# Output the updated DataFrame
df_new.head(30)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
Country,,,,,,,,,,,,,,,,,,,,,
Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.54,0.55,0.56,0.56,0.57,0.58,0.59,2.2,6.2,1.3
Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.18,0.20,0.23,0.33,0.41,0.46,0.45,-2.2,15.3,1.0
US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.23,...,5.13,5.60,5.88,6.20,6.65,7.47,8.43,12.8,9.2,18.7
Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,0.24,...,5.85,6.35,6.67,7.09,7.64,8.50,9.46,11.3,9.2,20.9
Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.08,0.09,0.09,0.14,0.16,0.21,0.24,15.3,15.2,0.5
Brazil,0.00,0.00,0.00,0.00,0.00,0.02,0.02,0.02,0.02,0.02,...,1.64,1.76,1.98,2.18,2.20,2.36,2.53,7.2,9.8,5.6
Chile,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.16,0.19,0.20,0.21,0.25,0.29,18.6,15.0,0.7
Colombia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.05,0.05,0.06,0.06,0.06,0.07,0.07,2.4,5.3,0.2
Ecuador,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,-3.8,5.5,0.0
Peru,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.04,0.04,0.05,0.05,0.05,0.05,2.7,9.4,0.1
Trinidad & Tobago,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.4,1.8,0.0
Venezuela,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.3,13.1,0.0
Central America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.13,0.13,0.16,0.17,0.16,0.17,0.17,-3.9,7.5,0.4
Other Caribbean,0.03,0.03,0.03,0.03,0.04,0.04,0.05,0.05,0.05,0.05,...,0.04,0.04,0.04,0.05,0.06,0.06,0.06,-0.3,7.9,0.1
Other South America,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.07,0.08,0.09,0.10,0.11,0.11,0.10,-2.5,16.0,0.2
Total S. & Cent. America,0.03,0.03,0.03,0.03,0.04,0.06,0.07,0.08,0.08,0.08,...,2.18,2.36,2.66,2.95,3.02,3.28,3.53,7.4,10.3,7.8
Austria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.14,0.15,0.15,0.16,0.15,0.16,0.17,6.3,5.1,0.4
Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.16,0.18,0.19,0.21,0.26,0.25,0.26,3.7,7.7,0.6
Bulgaria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.04,0.04,0.05,0.05,0.05,0.06,0.07,9.2,11.1,0.2
Croatia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.02,0.03,0.03,0.04,0.04,7.1,22.1,0.1
Cyprus,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.01,0.01,0.01,0.01,14.1,11.2,0.0
Czech Republic,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.09,0.10,0.10,0.10,0.10,0.10,0.10,1.5,3.3,0.2
Denmark,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.20,0.23,0.22,0.24,0.24,0.27,0.29,6.8,6.1,0.6
Estonia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.02,0.02,0.02,0.02,0.03,0.03,0.03,2.9,7.8,0.1
Finland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.17,0.20,0.22,0.23,0.22,0.26,0.32,23.9,8.7,0.7
France,0.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.02,0.02,...,0.49,0.54,0.59,0.67,0.71,0.72,0.81,11.7,8.4,1.8
Germany,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01,...,1.83,2.08,2.17,2.32,2.45,2.25,2.45,9.0,5.8,5.4
Greece,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.10,0.10,0.11,0.12,0.14,0.16,0.18,12.4,11.4,0.4
Hungary,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.04,0.04,0.05,0.06,0.07,0.08,0.09,7.5,9.9,0.2
Iceland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.05,0.05,0.06,0.06,0.05,0.05,0.05,1.8,1.0,0.1

In [137]:
df.count()

1965                          103
1966                          103
1967                          103
1968                          103
1969                          103
                             ...
2021                          103
2022                          103
Growth rate 2022-2021 in %    103
Growth rate 2022-2012 in %    103
Share 2022 in %               103
Length: 61, dtype: int64

In [138]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Clean_data_files/Renewable_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")

In [139]:
# Transforming the data to store in postgres databse
file_path ='../World_energy_consumption/Clean_data_files/Renewable_consumption_Exajoules.csv'
df_new= pd.read_csv(file_path, skiprows=0, encoding='unicode_escape')
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021 in %,Growth rate 2022-2012 in %,Share 2022 in %
0,Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.54,0.55,0.56,0.56,0.57,0.58,0.59,2.2,6.2,1.3
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.18,0.20,0.23,0.33,0.41,0.46,0.45,-2.2,15.3,1.0
2,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.13,5.60,5.88,6.20,6.65,7.47,8.43,12.8,9.2,18.7
3,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,5.85,6.35,6.67,7.09,7.64,8.50,9.46,11.3,9.2,20.9
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.08,0.09,0.09,0.14,0.16,0.21,0.24,15.3,15.2,0.5

In [140]:
# dropping the last three rows as these are not important for the analysis
columns_to_drop = df.columns[-3:]
df_new = df_new.drop(columns=columns_to_drop, axis=1)
df_new.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.33,0.34,0.48,0.54,0.55,0.56,0.56,0.57,0.58,0.59
1,Mexico,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.12,0.14,0.17,0.18,0.20,0.23,0.33,0.41,0.46,0.45
2,US,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,3.99,4.30,4.53,5.13,5.60,5.88,6.20,6.65,7.47,8.43
3,Total North America,0.15,0.16,0.16,0.18,0.19,0.19,0.19,0.21,0.23,...,4.44,4.78,5.18,5.85,6.35,6.67,7.09,7.64,8.50,9.46
4,Argentina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.06,0.07,0.08,0.08,0.09,0.09,0.14,0.16,0.21,0.24

In [141]:
df_new = df_new.melt(id_vars=['Country'], var_name='year', value_name='energy_consumption')

In [142]:
# Create the output file (CSV)

output_data_file = "../World_energy_consumption/Transformed_data_files/Renewable_consumption_Exajoules.csv"


# Export the DataFrame to a CSV file
df_new.to_csv(output_data_file, index="Country")