In [23]:
# imports library 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [24]:
file_path ='../World_energy_consumption/Raw_data_files/Primary_energy_consumption.csv'
df_1= pd.read_csv(file_path, skiprows=2, encoding='unicode_escape')
df_1.head()

,Exajoules,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,2022.1,2012-22,2022.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [25]:
rename_dict = {'Exajoules':'Country','2022.1':'Growth rate 2022-2021','2012-22':'Growth rate 2022-2012', '2022.2':'Share 2022' }

In [26]:
df_1.rename(columns=rename_dict, inplace=True)
df = df_1.rename(columns=rename_dict)
df.head()

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021,Growth rate 2022-2012,Share 2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
2,Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
3,US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
4,Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%

In [27]:
df=df.drop([0,0])

In [28]:
df.shape

(126, 62)

In [29]:
df.count()

Country                  110
1965                     103
1966                     103
1967                     103
1968                     103
                        ...
2021                     103
2022                     103
Growth rate 2022-2021    103
Growth rate 2022-2012    103
Share 2022               103
Length: 62, dtype: int64

In [30]:
df.isnull().sum()

Country                  16
1965                     23
1966                     23
1967                     23
1968                     23
                         ..
2021                     23
2022                     23
Growth rate 2022-2021    23
Growth rate 2022-2012    23
Share 2022               23
Length: 62, dtype: int64

In [32]:
df.set_index('Country', inplace=True)

In [33]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021,Growth rate 2022-2012,Share 2022
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
null_rows= df.isna().any(axis=1)

In [37]:
index_with_nulls = df.index[null_rows].tolist()

print(index_with_nulls)

[nan, nan, nan, nan, nan, nan, nan, nan, '* In this review, primary energy comprises commercially-traded fuels, including modern renewables used to generate electricity. ', 'Energy from all sources of non-fossil power generation is accounted for on an input-equivalent basis. See the appendix or https://www.energyinst.org/statistical-review for more details on this methodology.', '^ Less than 0.005.', 'w Less than 0.05%.', 'n/a not available.', 'USSR includes CIS, Georgia, Ukraine and the Baltic States.', '#Excludes Estonia, Latvia and Lithuania prior to 1985 and Slovenia prior to 1990.', nan, nan, nan, nan, nan, nan, nan, nan]

In [38]:
df_new = df.drop(index_with_nulls)
df_new.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2016,2017,2018,2019,2020,2021,2022,Growth rate 2022-2021,Growth rate 2022-2012,Share 2022
Country,,,,,,,,,,,,,,,,,,,,,
Canada,5.00,5.32,5.57,5.92,6.28,6.73,6.94,7.47,8.11,8.36,...,14.32,14.54,14.67,14.59,13.71,13.84,14.14,2.2%,0.1%,2.3%
Mexico,1.06,1.12,1.14,1.24,1.36,1.45,1.53,1.69,1.82,2.01,...,8.11,8.26,8.16,8.06,7.43,7.99,8.73,9.2%,0.8%,1.4%
US,51.98,54.89,56.80,60.19,63.30,65.54,66.92,70.25,73.22,71.43,...,92.60,92.95,96.35,95.67,88.57,93.40,95.91,2.7%,0.6%,15.9%
Total North America,58.04,61.33,63.51,67.36,70.95,73.72,75.39,79.41,83.16,81.81,...,115.04,115.76,119.18,118.32,109.71,115.23,118.78,3.1%,0.6%,19.7%
Argentina,1.18,1.22,1.26,1.30,1.34,1.27,1.35,1.37,1.43,1.48,...,3.57,3.57,3.54,3.34,3.13,3.48,3.60,3.7%,0.6%,0.6%

In [39]:
df_new.isnull().sum()

1965                     0
1966                     0
1967                     0
1968                     0
1969                     0
                        ..
2021                     0
2022                     0
Growth rate 2022-2021    0
Growth rate 2022-2012    0
Share 2022               0
Length: 61, dtype: int64

In [40]:
df_new.dtypes

1965                     object
1966                     object
1967                     object
1968                     object
1969                     object
                          ...
2021                     object
2022                     object
Growth rate 2022-2021    object
Growth rate 2022-2012    object
Share 2022               object
Length: 61, dtype: object

In [43]:
for column in df_new.columns:
    df_new[column] = pd.to_numeric(df_new[column], errors='coerce')
    
df_new.dtypes

1965                     float64
1966                     float64
1967                     float64
1968                     float64
1969                     float64
                          ...
2021                     float64
2022                     float64
Growth rate 2022-2021    float64
Growth rate 2022-2012    float64
Share 2022               float64
Length: 61, dtype: object

In [200]:
df_new['Growth rate 2022-2012'] = pd.to_numeric(df_new['Growth rate 2022-2012'], errors='coerce')

In [201]:
df.dtypes

1965                      object
1966                      object
1967                      object
1968                      object
1969                      object
                          ...
2021                      object
2022                      object
Growth rate 2022-2021     object
Growth rate 2022-2012    float64
Share 2022                object
Length: 61, dtype: object

In [203]:
# Get full rows based on the index of top values in 'Growth rate 2022-2021'
top_five_2022 = df['Growth rate 2022-2012'].nlargest(5)

print(top_five_2022)

Exajoules
Canada                NaN
Mexico                NaN
US                    NaN
Total North America   NaN
Argentina             NaN
Name: Growth rate 2022-2012, dtype: float64